{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Registrate</h1>

    <h2>Datos de quien reserva</h2>

    <form action="{{ path('usuario_create') }}" method="post" {{ form_start(form) }}>

    	{{form_widget(op.op, {'attr': {'hidden': 'true'}}) }}
    	<label/>Nombre(s)
	        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.nombre) }}</span>

	    <label>Apellido Paterno</label>
	        {{ form_widget(form.apPat, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.apPat) }}</span>

	  	<label>Apellido Materno</label>
	        {{ form_widget(form.apMat, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.apMat) }}</span>

	    <label>Correo</label>
	        {{ form_widget(form.correo, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.correo) }}</span>

	    <label>Telefono</label>
	        {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.telefono) }}</span>

	     <h2>Direccion</h2>

	     <label>Pais</label>
	        {{ form_widget(form.pais, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.pais) }}</span>
	    
	    <label>Estado</label>
	        {{ form_widget(form.estado, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.estado) }}</span>
	    
	    <label>Delegacion</label>
	        {{ form_widget(form.delegacion, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.delegacion) }}</span>

	    <label>Calle</label>
	        {{ form_widget(form.calle, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.calle) }}</span>

	    <label>Numero Exterior</label>
	        {{ form_widget(form.noExt, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.noExt) }}</span>

	    <label>Numero Interior</label>
	        {{ form_widget(form.noInt, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.noInt) }}</span>

	    <label>Colonia</label>
	        {{ form_widget(form.colonia, {'attr': {'class': 'form-control'}}) }}
	        <span class="help-block m-b-none">{{ form_errors(form.colonia) }}</span>

	        {{ form_widget(form._token) }}
            <button>Continuar</button>

    </form>

{% endblock %}
